<h2>Sign in</h2>

<form action="/admin" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter your Password" name="password"/>

    <input type="submit" class="btn" value="login"/>

</form>

<!-- <h2>Register</h2>

<form action="/register" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter your Password" name="password"/>

    <input type="submit" class="btn" value="Register"/>

</form> -->